data/cifar-10-python.tar.gz
__pycache__
*/__pycache__
.ipynb_checkpoints
data/cifar-10-batches-py
data/cifar-10-batches-py/*
data/building_metadata_clean.csv
checkpoint/*
data/floorplan_crop/*
data/test*
data/data_root*
data/data_idf/
data/img_residential_original/*
best_checkpoint/test*
results/test*
notebooks/test*
notebooks/outputs/vae_latent.pt
notebooks/outputs/marl_latent.pt
